<ion-header>
  <ion-navbar>
    <ion-title>Jogos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <div *ngFor="let jogo of getJogos()">

      <div *ngIf="(isFaseRendered(jogo, getJogoAnterior()))" >
        <ion-item-divider color="light" class="fase">{{ jogo.getFase().getDescricao() }}</ion-item-divider>
      </div>

      <div *ngIf="(isDataRendered(jogo, getJogoAnterior()))" >
        <ion-item-divider color="light" class="data">{{ jogo.getData() + " - " + jogo.getDia() }}</ion-item-divider>
      </div>

      <a ion-item class="confronto" (click)="showModalPalpite()">
        <div class="full {{ getBorderClass(jogo, getJogoAnterior()) }}">
          <div class="local">{{ jogo.getHora() + " " + jogo.getCidade().getDescricao() }}</div>
          <div class="versus">X</div>
          <div *ngIf="(isPalpiteRendered(jogo))">
            <div class="palpite">PALPITE</div>
          </div>
          <div *ngIf="(isPontosRendered(jogo))">
            <div class="pontos">
              <div class="numero">{{ jogo.getPontos() }}</div>
              <div class="label">PONTOS</div>
            </div>
          </div>
          <div class="equipe-01">
            <div class="flag"><img src="{{ getFlag(jogo.getAdversario1().getEquipe()) }}"></div>
            <div class="nome">{{ jogo.getAdversario1().getEquipe().getDescricao() }}</div>
            <div class="placar">{{ jogo.getAdversario1().getGols() }}</div>
            <div class="palpite">{{ jogo.getAdversario1().getPalpite() }}</div>
          </div>
          <div class="equipe-02">
            <div class="flag"><img src="{{ getFlag(jogo.getAdversario2().getEquipe()) }}"></div>
            <div class="nome">{{ jogo.getAdversario2().getEquipe().getDescricao() }}</div>
            <div class="placar">{{ jogo.getAdversario2().getGols() }}</div>
            <div class="palpite">{{ jogo.getAdversario2().getPalpite() }}</div>
          </div>
        </div>
      </a>

      {{ setJogoAnterior(jogo) }}
    </div>
  </ion-item-group>
</ion-content>
