page-jogos {
  .fase {
    background-color: #ff8100;
    text-align: center;
    color: #ffffff;
  }
  .data {
    background-color: #ff810066;
    text-align: center;
    color: #333333;
  }
  .confronto {
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 0px;
  }
  .confronto .full {
    position: relative;
    top: 0px;
    width: 340px;
    height: 100px;
    text-align: center;
    padding: 0px;
    margin: 0 auto;
  }
  .full .local {
    position: absolute;
    width: 100%;
    top: 5px;
    font-size: 12px;
  }
  .full .versus {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 30px;
  }
  .full .pontos {
    position: absolute;
    width: 40px;
    height: 51px;
    top: 25px;
    left: 4px;
    color: #008000; //#ff8100
  }
  .full .pontos .numero {
    position: absolute;
    width: 40px;
    height: 30px;
    top: 0px;
    left: 0px;
    font-size: 24px;
    font-weight: bold;
  }
  .full .pontos .label {
    position: absolute;
    width: 40px;
    height: 20px;
    top: 25px;
    left: 0px;
    font-size: 10px;
    font-weight: bold;
  }
  .full .equipe-01 {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 142px;
    height: 67px;
  }
  .full .equipe-01 .flag {
    position: absolute;
    left: 30px;
    width: 60px;
    height: 40px;
  }
  .full .equipe-01 .nome {
    position: absolute;
    top: 45px;
    width: 120px;
    height: 20px;
    left: 0px;
  }
  .full .equipe-01 .placar {
    position: absolute;
    top: 0px;
    left: 120px;
    width: 20px;
    height: 25px;
    font-weight: bold;
    font-size: 24px;
  }
  .full .equipe-01 .palpite {
    position: absolute;
    top: 26px;
    left: 120px;
    width: 20px;
    height: 25px;
    font-weight: bold;
    font-size: 18px;
    color: #0b4daf;
    text-align: center;
  }
  .full .equipe-02 {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 142px;
    height: 67px;
  }
  .full .equipe-02 .flag {
    position: absolute;
    right: 30px;
    width: 60px;
    height: 40px;
  }
  .full .equipe-02 .nome {
    position: absolute;
    top: 45px;
    width: 120px;
    height: 20px;
    right: 0px;
  }
  .full .equipe-02 .placar {
    position: absolute;
    top: 0px;
    right: 120px;
    width: 20px;
    height: 25px;
    font-weight: bold;
    font-size: 24px;
  }
  .full .equipe-02 .palpite {
    position: absolute;
    top: 26px;
    right: 120px;
    width: 20px;
    height: 25px;
    font-weight: bold;
    font-size: 18px;
    color: #0b4daf;
    text-align: center;
  }
}
