page-classificacao {
  .ion-note-header {
    color: #333333;
  }
  .posicao-default {
    font-weight: bold;
  }
  .posicao-destaque {
    color: #0b4daf;
    font-weight: bold;
  }
  .nome-default {
  }
  .nome-destaque {
    color: #cc290f;
  }
  .ion-note {
    color: #006633;
    font-weight: bold;
  }
}
